<!DOCTYPE html>
<html>
<head>
    <meta charset = "UTF-8">
    <title>警告框</title>
    <meta name = "viewport" content = "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel = "stylesheet" href = "../../Public/Css/bootstrap.min.css">
</head>
<body>
<div class="bs-example bs-example-standalone">
    <div class="alert alert-warning alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <strong>Holy guacamole!</strong> Best check yo self, you're not looking too good.
    </div>

    <div class="alert alert-danger alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4>Oh snap! You got an error!</h4>
        <p>Change this and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
        <p>
            <button type="button" class="btn btn-danger">Take this action</button>
            <button type="button" class="btn btn-default">Or do this</button>
        </p>
    </div>
</div><!-- /example -->
<script src = "../../Public/Js/jquery-2.1.1.min.js"></script>
<script src = "../../Public/Js/bootstrap.min.js"></script>
<script src = "test.js"></script>
</body>
</html>