<!DOCTYPE html>
<html>
<head>
    <meta charset = "UTF-8">
    <title>按钮</title>
    <meta name = "viewport" content = "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel = "stylesheet" href = "../../Public/Css/bootstrap.min.css">
</head>
<body>
<div class = "bs-example" style = "padding-bottom: 24px;">
    <button type = "button" id = "loading-example-btn" data-loading-text = "Loading..." class = "btn btn-primary">
        Loading state
    </button>
</div>
<!-- /example -->
<div class = "bs-example" style = "padding-bottom: 24px;">
    <button type = "button" class = "btn btn-success" data-toggle = "button">Single toggle</button>
</div>
<!-- /example -->
<div class = "bs-example" style = "padding-bottom: 24px;">
    <div class = "btn-group" data-toggle = "buttons">
        <label class = "btn btn-primary active">
            <input type = "checkbox" autocomplete = "off" checked> Option 1 (pre-checked)
        </label>
        <label class = "btn btn-primary">
            <input type = "checkbox" autocomplete = "off"> Option 2
        </label>
        <label class = "btn btn-primary">
            <input type = "checkbox" autocomplete = "off"> Option 3
        </label>
    </div>
</div>
<!-- /example -->
<div class = "bs-example" style = "padding-bottom: 24px;">
    <div class = "btn-group" data-toggle = "buttons">
        <label class = "btn btn-primary active">
            <input type = "radio" name = "options" id = "option1" autocomplete = "off" checked> Option 1 (preselected)
        </label>
        <label class = "btn btn-primary">
            <input type = "radio" name = "options" id = "option2" autocomplete = "off"> Option 2
        </label>
        <label class = "btn btn-primary">
            <input type = "radio" name = "options" id = "option3" autocomplete = "off"> Option 3
        </label>
    </div>
</div>
<!-- /example -->
<script src = "../../Public/Js/jquery-2.1.1.min.js"></script>
<script src = "../../Public/Js/bootstrap.min.js"></script>
<script src = "test.js"></script>
</body>
</html>