<!DOCTYPE html>
<html>
<head>
    <meta charset = "UTF-8">
    <title>模态框</title>
    <meta name = "viewport" content = "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel = "stylesheet" href = "../../Public/Css/bootstrap.min.css">
</head>
<body>
<!-- 动态实例-->
<button class = "btn btn-primary btn-lg" data-toggle = "modal" data-target = "#myModal">
    点击弹出模态框
</button>
<div id = "myModal" class = "modal fade" tabindex = "-1" role = "dialog" aria-labelledby = "myModalLabel" aria-hidden = "true">
    <div class = "modal-dialog">
        <div class = "modal-content">

            <div class = "modal-header">
                <button type = "button" class = "close" data-dismiss = "modal"><span aria-hidden = "true">&times;</span><span class = "sr-only">Close</span>
                </button>
                <h4 class = "modal-title" id = "myModalLabel">Modal title</h4>
            </div>
            <div class = "modal-body">
                <h4>Text in a modal</h4>

                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>

                <h4>Popover in a modal</h4>

                <p>This
                    <a href = "#" role = "button" class = "btn btn-default popover-test" title = "A Title" data-content = "And here's some amazing content. It's very engaging. right?">button</a>
                    should trigger a popover on click.</p>

                <h4>Tooltips in a modal</h4>

                <p><a href = "#" class = "tooltip-test" title = "Tooltip">This link</a> and
                    <a href = "#" class = "tooltip-test" title = "Tooltip">that link</a> should have tooltips on hover.
                </p>

                <hr>

                <h4>Overflowing text to show scroll behavior</h4>

                <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas
                    eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>

                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
                    laoreet rutrum faucibus dolor auctor.</p>

                <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
                    consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>

                <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas
                    eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>

                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
                    laoreet rutrum faucibus dolor auctor.</p>

                <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
                    consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>

                <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas
                    eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>

                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
                    laoreet rutrum faucibus dolor auctor.</p>

                <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
                    consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
            </div>
            <div class = "modal-footer">
                <button type = "button" class = "btn btn-default" data-dismiss = "modal">Close</button>
                <button type = "button" class = "btn btn-primary">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>
<!-- 动态实例END-->

<!--可选尺寸-->
<div class = "bs-example">
    <button class = "btn btn-primary" data-toggle = "modal" data-target = ".bs-example-modal-lg">大模态框</button>
    <button class = "btn btn-primary" data-toggle = "modal" data-target = ".bs-example-modal-sm">小模态框</button>
</div>
<!--  Modal content for the above example -->
<div class = "modal fade bs-example-modal-lg" tabindex = "-1" role = "dialog" aria-labelledby = "myLargeModalLabel" aria-hidden = "true">
    <div class = "modal-dialog modal-lg">
        <div class = "modal-content">
            <div class = "modal-header">
                <button type = "button" class = "close" data-dismiss = "modal"><span aria-hidden = "true">&times;</span><span class = "sr-only">Close</span>
                </button>
                <h4 class = "modal-title" id = "myLargeModalLabel">Large modal</h4>
            </div>
            <div class = "modal-body">
                ...
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div class = "modal fade bs-example-modal-sm" tabindex = "-1" role = "dialog" aria-labelledby = "mySmallModalLabel" aria-hidden = "true">
    <div class = "modal-dialog modal-sm">
        <div class = "modal-content">

            <div class = "modal-header">
                <button type = "button" class = "close" data-dismiss = "modal"><span aria-hidden = "true">&times;</span><span class = "sr-only">Close</span>
                </button>
                <h4 class = "modal-title" id = "mySmallModalLabel">Small modal</h4>
            </div>
            <div class = "modal-body">
                ...
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--可选尺寸END-->
<script src = "../../Public/Js/jquery-2.1.1.min.js"></script>
<script src = "../../Public/Js/bootstrap.min.js"></script>
</body>
</html>