<!DOCTYPE html>
<html>
<head>
    <meta charset = "UTF-8">
    <title>工具提示</title>
    <meta name = "viewport" content = "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel = "stylesheet" href = "../../Public/Css/bootstrap.min.css">
</head>
<body>
<div class="bs-example tooltip-demo" style=" margin-top: 100px; margin-left: 100px; ">
    <div class="bs-example-tooltips">
        <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left">Tooltip on left</button>
        <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Tooltip on top">Tooltip on top</button>
        <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">Tooltip on bottom</button>
        <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Tooltip on right">Tooltip on right</button>
    </div>
</div><!-- /example -->
<script src = "../../Public/Js/jquery-2.1.1.min.js"></script>
<script src = "../../Public/Js/bootstrap.min.js"></script>
<script src = "test.js"></script>
</body>
</html>