<!DOCTYPE html>
<html>
<head>
    <meta charset = "UTF-8">
    <title>弹出框</title>
    <meta name = "viewport" content = "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel = "stylesheet" href = "../../Public/Css/bootstrap.min.css">
</head>
<body>
<div class = "bs-example" style = "padding-bottom: 24px;">
    <button type = "button" class = "btn btn-lg btn-danger bs-docs-popover" data-toggle = "popover" title = "Popover title" data-content = "And here's some amazing content. It's very engaging. Right?">
        Click to toggle popover
    </button>
</div>
<div class="bs-example popover-demo container">
    <div class="bs-example-popovers">
        <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
            Popover on left
        </button>
        <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
            Popover on top
        </button>
        <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
            Popover on bottom
        </button>
        <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
            Popover on right
        </button>
    </div>
</div>
<script src = "../../Public/Js/jquery-2.1.1.min.js"></script>
<script src = "../../Public/Js/bootstrap.min.js"></script>
<script src = "test.js"></script>
</body>
</html>